body{
  margin:0;
  padding: 0;
  display: flex;
}

.content{
  margin-left: 120px;
}

section{
  margin-bottom: 100vh;
}

ul{
  list-style: none;
  margin-right: 50px;
  position: fixed;
  background-color: #333;
  padding: 30px;
  height: 100%;
  margin-top: 0;
}
li {
  background-color: rgb(250, 127, 11);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-bottom: 20px;
}

.active{
  background-color: cornflowerblue;
}